.products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding-top: 20px;
    position: relative;
}

.products .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}