.home .first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.home .second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 58px 29px;
    border-bottom: 1px solid #000000;
}

.home .second img {
    width: 225px;
    height: auto;
}

.home .second h2 {
    color: #000;
    text-align: center;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: 72.576px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.home .third {
    padding: 21px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.home .third img {
    width: 100%;
    height: auto;
}

.story {
    display: flex;
    flex-direction: row;
}